@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

.font-zalando {
  font-family: 'Zalando Sans Expanded', sans-serif;
}
@import "tailwindcss";


/* scrolling text */
@keyframes infinite-scroll-slow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-infinite-scroll-slow {
  animation: infinite-scroll-slow 60s linear infinite;
}